{% extends "base.html" %}
{% load staticfiles %}

{% block title %}
    Booking
{% endblock title %}

{% block inject %}
<link href="{% static "css/pricing.css" %}" rel="stylesheet">
{% endblock inject %}

{% block content %}

<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4">Booking</h1>
    <h1><p class="lead">Enter your personal info to make booking.</p></h1>
</div>
  {% if form.errors %}
    <p>Error while handling form.</p>
  {% endif %}
  <div class="row align-items-center">
      <div class="col-md-5"></div>
        <div class="col-md-2">
  <form method="POST">
      {% csrf_token %}
      {{ form.as_p }}
      <button class="btn btn-lg btn-primary btn-block" type="submit">Make a booking</button>
  </form>
</div>
<div class="col-md-5"></div>
</div>
{% endblock content %}

{% block afterjs %}
<script>
    $("label").attr("hidden", "true");
    $("select").addClass("custom-select d-block w-100");
  </script>
{% endblock afterjs %}